/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-btn: #6b3f33;
  --color-btn-hover: #6B4F3A;
  --box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

section{
  text-align: center;
}

.spacer {
  height: 50px; /* atur sesuai selera */
}

.note {
  color: #aaa;
  font-size: 12px;
  margin: 20px;
}

/* cover */
.cover {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100vh;
  background: #fdf6f2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 1s ease;
  text-align: center;
}

.cover-content {
  max-width: 100%;
  padding: 20px;
}

.cover-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.cover h1 {
  font-size: 36px;
  margin: 10px 0;
}

.cover p, .cover h4 {
  margin: 5px 0;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #6b3f33;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #6B4F3A;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.hidden {
  display: none;
}

/* Hero Section */
.hero {
  position: relative;
  background: url("images/pasangan3.webp") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

/* Profile */
.profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  color: #5a3a2c;
  max-width: 600px;
  background: #fff7f2;
}
.card {
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  color: #5a3a2c;
}

.salam {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.pembuka {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.couple {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.person {
  flex: 1;
}

.person img {
  width: 130px;
  height: 130px;
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border: 4px solid #e6d2c3;
}

.person h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 1.8rem;
  margin: 0.3rem 0;
}

.person h4 {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.person p {
  font-size: 0.85rem;
  line-height: 1.4;
}

.icon img {
  width: 40px;
  height: auto;
}

/* Event Section */
.event {
  padding: 10px;
  background: #fff7f2;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  color: #5a3a2c;
  max-width: 600px;
}

.event h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Great Vibes', cursive;
}

.event p {
  font-size: 1.1rem;
  margin: 5px 0;
}

.event .time {
  display: block;
  font-size: 1rem;
  margin-top: 8px;
}

.date-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.date-box span{
  min-width: 80px;
}

.date-box .day,
.date-box .month {
  font-size: 1rem;
  font-weight: 500;
}

.date-box .number {
  font-size: 2rem;
  font-weight: bold;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  padding: 0 15px;
  min-width: 900;
}

/* Maps */
.maps {
  text-align: center;
  padding: 20px;
}

.map-container {
  width: 100%;
  max-width: 400px; /* biar ga terlalu lebar */
  margin: 0 auto 15px auto;
  border-radius: 12px;
  overflow: hidden; /* biar radius kepotong */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.map-container iframe {
  width: 100%;
  height: 250px;
  border: none;
}

/* Tombol */
.btn-maps {
  display: inline-block;
  background-color: var(--color-btn);
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-maps:hover {
  background-color: var(--color-btn-hover);
  box-shadow: var(--box-shadow);
}

/* Our Section Style */
.details h2,
.countdown h2,
.rsvp h2,
.our-story h2,
.gallery h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #444;
}

.details p, .event-info p {
  font-size: 1rem;
  margin: 10px 0;
  color: #555;
}

/* Our Story */
.timeline {
  color: #fff;
  padding: 60px 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background: #fff7f2;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.gallery h2 {
  font-family: 'Great Vibes', cursive;
}

.timeline .section-title {
  font-size: 2.5em;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 10px;
  color: #666;
}

.timeline .section-subtitle {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #666;
}

.timeline-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding-left: 20px;
  border-left: 3px solid #fff;
}

.timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline-item::before {
  content: "❤";
  position: absolute;
  left: -36px;
  top: 0;
  background: #fff;
  color: #ff5c8d;
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.timeline-date {
  font-size: 0.9em;
  color: #aaa;
  margin-bottom: 10px;
  text-align: left;
}

.timeline-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #444;
}

.timeline-content img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10%; /* bikin bulat */
  border: 5px solid #fff; /* garis putih */
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Quote */
.quote {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.quote-box {
  position: relative;
  max-width: 600px;
  background: #fff7f2;
  border: 1px solid #eee;
  padding: 40px 30px;
  text-align: center;
  font-family: "Georgia", serif;
  color: #444;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.quote-icon {
  font-size: 2.5rem;
  color: #b66b4d;
  display: block;
}

.quote-icon.top {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-icon.bottom {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-text {
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 20px 0;
  font-weight: 500;
}

.quote-author {
  font-size: 0.9rem;
  color: #888;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Gallery */
.container {
  max-width: 600px;  /* bisa diganti 900px kalau mau lebih lebar */
  margin: 0 auto;    /* biar center */
  padding: 20px 20px;   /* kasih ruang kiri kanan biar lega */
  border-radius: 10px;
  background: #fff7f2;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Grid untuk galeri */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

/* Responsif di tablet */
@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Responsif di desktop */
@media (min-width: 900px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Style gambar biar rapi */
.gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
}

/* Countdown */
.countdown {
    text-align: center;
    margin: 50px 0;
    font-family: Arial, sans-serif;
    padding: 60px 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff7f2;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }
.countdown h2 {
  font-family: 'Great Vibes', cursive;
}

  .countdown-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }

  .time-box {
    background: var(--color-btn);
    color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    text-align: center;
    min-width: 70px;
  }

  .time-box span {
    font-size: 24px;
    font-weight: bold;
    display: block;
  }

  .time-box small {
    font-size: 12px;
    opacity: 0.8;
  }

  /* === Form umum === */
  .rsvp {
    padding: 60px 20px;
    background: #fff7f2;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  }
  form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
  }

  form input,
  form select,
  form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Tombol */
  form button {
    width: 100%;
    padding: 12px;
    background-color: var(--color-btn);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  form button:hover {
    background-color: var(--color-btn-hover);
    box-shadow: var(--box-shadow);
  }
.rsvp h2 {
  font-family: 'Great Vibes', cursive;
}
  /* === List Ucapan === */
  #listUcapan {
    margin-top: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  .ucapan-item {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #fafafa;
  }
  .ucapan-item strong {
    color: #e91e63;
  }
  .ucapan-card {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    margin-bottom: 16px;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-transform: uppercase;
  }

  .ucapan-content {
    flex: 1;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 12px 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
  }

  .ucapan-nama {
    font-weight: bold;
    font-size: 16px;
    color: #e91e63;
    margin-right: 4px;
  }

  .ucapan-header {
    margin-bottom: 6px;
  }

  .ucapan-header span {
    font-size: 14px;
    color: #555;
  }

  .ucapan-content p {
    font-size: 14px;
    margin: 6px 0;
    line-height: 1.4;
  }

  .ucapan-waktu {
    display: block;
    font-size: 10px;
    color: #c9c9c9;
    margin-top: 6px;
  }

  /* === Pagination === */
  #pagination {
    margin-top: 15px;
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  #pagination button {
    padding: 5px 10px;
    border: none;
    background: var(--color-btn);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #pagination button.active {
    background: var(--color-btn-hover);
    box-shadow: var(--box-shadow);
  }

/* Send Gift */
.gift-section {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background: #fff7f2;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.section-title {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  margin-bottom: 15px;
}

.gift-text, .gift-note {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

#toggle-btn {
  background: var(--color-btn);
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

#toggle-btn:hover {
  background: var(--color-btn-hover);
  box-shadow: var(--box-shadow);
}

#account-list.hidden {
  display: none;
}

.account-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.bank-logo {
  width: 60px;
  height: auto;
}

.account-info {
  text-align: left;
  flex: 1;
  margin-left: 15px;
}

.account-number {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.account-name {
  font-size: 14px;
  margin: 0;
}

.copy-btn {
  background: var(--color-btn);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 13px;
}

.copy-btn:hover {
  background: var(--color-btn-hover);
  box-shadow: var(--box-shadow);
}

/* Akhir */
.closing {
  text-align: center;
  padding: 50px 20px;
}

.closing-content {
  max-width: 600px;
  margin: 0 auto;
  background: #fff7f2;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px;
}

.closing-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.closing-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10%; /* bikin bulat */
  border: 5px solid #fff; /* garis putih */
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.closing-text {
  font-size: 16px;
  line-height: 1.6;
  color: #2c2c2c;
  margin: 20px 0;
}

.closing-greeting {
  font-size: 18px;
  margin-top: 30px;
  color: #4b3b2a;
}

.closing-names {
  font-family: 'Great Vibes', cursive; /* font kaligrafi */
  font-size: 36px;
  font-weight: normal;
  margin-top: 10px;
  color: #2c2c2c;
}

/* Footer */
footer {
  background: #222;
  color: white;
  padding: 23px;
  text-align: center;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .hero h1 { font-size: 1.8rem; }
  .hero p { font-size: 1.2rem; }
  .story-container { flex-direction: column; gap: 20px; }
}
